[Desktop Entry]
Version=1.0
X-Version=1.0
Encoding=UTF-8
Type=LiriApplicationProfile
Authors=David Gräff <david.graeff@cs.udo.edu>
Name=Kuechenradio
Comment=Control the Kuechenradio (no X required)
Icon=alsaplayer

[busservices]
session://org.kuechenradio=autostart

[group]
Channel=2
Key=#1

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s 1

[group]
Channel=2
Key=#2

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s 2

[group]
Channel=2
Key=#3

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s 3

[group]
Channel=2
Key=#4

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s 4

[group]
Channel=2
Key=#5

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s 5

[group]
Channel=2
Key=#6

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s 6

[group]
Channel=2
Key=#7

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s 7

[group]
Channel=2
Key=#8

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s 8

[group]
Channel=2
Key=#9

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s 9

[group]
Channel=2
Key=#0

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s 0

[group]
Channel=2
Key=#UP

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s valentin

[group]
Channel=2
Key=#RIGHT

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s david

[group]
Channel=2
Key=#DOWN

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s waldemar

[group]
Channel=2
Key=#LEFT

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio loaddir
Arg=res in s peihua

[group]
Channel=2
Key=#VOL+
Repeat=700 250

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio volume_relative
Arg=relative in i 5

[group]
Channel=2
Key=#VOL-
Repeat=700 250

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio volume_relative
Arg=relative in i -5

[group]
Channel=2
Key=#MUTE

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio mute

[group]
Channel=2
Key=#PAUSE

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio pause

[group]
Channel=2
Key=#PLAY

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio play

[group]
Channel=2
Key=#PREVIOUS

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio previous

[group]
Channel=2
Key=#STOP

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio stop

[group]
Channel=2
Key=#NEXT

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio next

[group]
Channel=2
Key=#RED

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio effect
Arg=setState in b true
Arg=id in u 0

[group]
Channel=2
Key=#GREEN

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio effect
Arg=setState in b true
Arg=id in u 1

[group]
Channel=2
Key=#YELLOW

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio effect
Arg=setState in b true
Arg=id in u 2

[group]
Channel=2
Key=#BLUE

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio effect
Arg=setState in b true
Arg=id in u 3

[group]
Channel=2
Key=#GUIDE

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio effect
Arg=setState in b true
Arg=id in u 4

[group]
Channel=2
Key=#TEXT

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio effect
Arg=setState in b true
Arg=id in u 5

[group]
Channel=2
Key=#INFO

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio effect
Arg=setState in b true
Arg=id in u 6

[group]
Channel=2
Key=#BACK

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio resetallEffects
