[Desktop Entry]
Version=1.0
X-Version=1.0
Encoding=UTF-8
Type=LiriApplicationProfile
Authors=David Gräff <david.graeff@cs.udo.edu>
Name=Modes_ext
Comment=ext modes for wg server
Icon=

[group]
Key=tvsys

[changemode]
NewMode=music
