[Desktop Entry]
Version=1.0
X-Version=1.0
Encoding=UTF-8
Type=LiriDesktopProfile
Icon=gnome-logo-icon
Authors=David Gräff <david.graeff@cs.udo.edu>
Name=Gnome
Comment=The gnome desktop with common additional software like rhythmbox
Comment[de_DE]=Der Gnome Desktop mit bekannter zusätzlicher Software wie etwa Rhythmbox

[Uses]
0d1e0e49-24b0-424d-a696-d4905ae1ce1d
5a90875b-43ec-4cfb-b5ad-3ebfb901da68
c2e7f8e5-d620-45d0-95fe-505e4eebe2ab
5a26ecbf-5ada-4a2d-b427-cc031e13b1c5
