[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=LiriRemote
Icon=
Authors=David Gräff
Name[de_DE]=X10-Type2
X-Version=1

[Settings]

[CompatibleReceivers]

[Keys]
5702=#POWER
f11c=*LIVETV
6d18=*RECTV
5a05=*PHOTO
5b06=*MUSIC
5904=*DVD
022d=*VIDEO
0631=#GUIDE
6b16=#TEXT
0732=#RED
0934=#YELLOW
0a35=#BLUE
0833=#GREEN
5e09=#VOL+
5d08=#VOL-
5500=#MUTE
600b=#CH+
610c=#CH-
f31e=#OK
6f1a=#UP
f21d=#LEFT
f722=#DOWN
f41f=#RIGHT
f520=#BACK
042f=#INFO
f01b=#SETUP
f924=#REWIND
fa25=#PLAY
fb26=#FORWARD
f621=#PREVIOUS
f823=#NEXT
fd28=#STOP
fc27=#RECORD
fe29=#PAUSE
620d=#1
630e=#2
640f=#3
6510=#4
6611=#5
6712=#6
6813=#7
6914=#8
6a15=#9
6c17=#0
0c37=#*
0d38=##
