[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Liri Control
Name[de]=Liri Status Übersicht
Comment=Status of liri components
Icon=liri-control
Exec=/usr/bin/liri-control-kde4
Terminal=false
Type=Application
Categories=Qt;KDE;System;RemoteAccess;
