[Desktop Entry]
Version=1.0
X-Driver-Version=1.0
Encoding=UTF-8
Authors=Jan M. Hochstein <hochstein@algo.informatik.tu-darmstadt.de>, David Gräff <david.graeff@uni-dortmund.de>
Name=IgorPlug
Comment=Receiver for RC5-Code remotes
