[Desktop Entry]
Version=1.0
X-Version=1.0
Encoding=UTF-8
Type=LiriApplicationProfile
Authors=David Gräff <david.graeff@cs.udo.edu>
Name=RoomControl
Comment=For controlling my room via ethernet
Icon=

[busservices]
session://org.kuechenradio=autostart

[group]
Channel=1
Mode=tv
Key=#*

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 99

[group]
Channel=1
Mode=tv
Key=#1

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 1

[group]
Channel=1
Mode=tv
Key=#2

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 2

[group]
Channel=1
Mode=tv
Key=#3

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 3

[group]
Channel=1
Mode=tv
Key=#4

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 4

[group]
Channel=1
Mode=tv
Key=#5

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 5

[group]
Channel=1
Mode=tv
Key=#6

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 6

[group]
Channel=1
Mode=tv
Key=#7

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 7

[group]
Channel=1
Mode=tv
Key=#8

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 8

[group]
Channel=1
Mode=tv
Key=#9

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 9

[group]
Channel=1
Mode=tv
Key=#0

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 0

[group]
Channel=1
Mode=tv
Key=##

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 10

[group]
Channel=1
Mode=tv
Key=#INFO

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 11

[group]
Channel=1
Mode=tv
Key=#BACK

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio changePWMChannel
Arg=res in u 12

[group]
Channel=1
Mode=tv
Key=#UP
Repeat=700 250

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio increaseBrightness

[group]
Channel=1
Mode=tv
Key=#DOWN
Repeat=700 250

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio decreaseBrightness

[group]
Channel=1
Mode=tv
Key=#LEFT

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio fadeUp

[group]
Channel=1
Mode=tv
Key=#RIGHT

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio fadeDown

[group]
Channel=1
Mode=tv
Key=#GREEN

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio activateMoodlight

[group]
Channel=1
Mode=tv
Key=#RED

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio deactivateMoodlight

[group]
Channel=1
Mode=tv
Key=#POWER
Repeat=700 250

[bus]
Bus=session://org.kuechenradio /Kuechenradio org.kuechenradio startPC
