[Desktop Entry]
Version=1.0
X-Driver-Version=1.0
Encoding=UTF-8
Authors=Michael Gold <mgold@scs.carleton.ca>, David Gräff <david.graeff@uni-dortmund.de>
Name=ATI
Name[de_DE]=ATI
Comment=Receiver for ATI Remote Wonder 1
Comment[de_DE]=Empfänger für ATI Remote Wonder 1
